<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <h1><%= title %></h1>
    <p><%= message %></p>
    <form action="/signin" method="POST">
      <input type="text" id="email" name="email" placeholder="Email" /><br />
      <br />
      <input
        type="password"
        id="password"
        name="password"
        placeholder="Password"
      /><br /><br />
      <button type="submit">Sign In</button>
    </form>
    <br />
    <a href="/signup">Sign Up</a>
  </body>
</html>
